#calc-mainbox{
    width: 269px;
    height: 370px;
    background-color: teal;
    padding: 20px;
    padding-top: 40px;
    border-radius: 10px;
    margin:auto;
    border: 0.5px black solid;
}

#display{
    font-size: 40px;
    text-align: right;
    vertical-align: middle;
    width: 260px;
    height: 60px;
    background-color: greenyellow;
    border: 0.5px black solid;
    margin-right: 2.5px;
    margin-left: 2.5px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 5px;
    overflow: auto;
}

#toprow{
    flex:1;
    display: flex;
    text-align: center;
    font-size: large;
    border: 2px black;
    flex-wrap: wrap;
}

.centerarea{
    display: flex;
}

.toprowbutton, .number, .column2{
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 40px;
    background-color:orange;
    border: 0.5px black solid;
    margin-right: 2.5px;
    margin-left: 2.5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.toprowbutton:hover, .number:hover, .column2:hover{
    background-color: rgb(206, 203, 203);
    transform: scale(1.03);
    border: 1px black solid;
}

.row1, .row2, .row3, .row4, .col2{
    flex:1;
    display: flex;
    text-align: center;
    font-size: large;
    border: 2px black;
    flex-wrap: wrap;
}

.number, .column2{
    background-color:grey;
}
#n0{
    width: 127.5px;
}
.col2{
    flex-direction: column;
}
.column2{
    height: 92.5px;
}
